*{
    font-family: "Bebas Neue", Sans-serif;
    color: #000;
    margin: 0;
}

body{
    background-color: #fff;
}
h1{
    font-family: "Bebas Neue";
}
h3,p{
    font-family: sans-serif;
}

button{
    width: 15rem;
    height: 3.2rem;
    color: #fff;
    font-size: 1.3rem;
    font-family: "Bebas Neue";
    border: none;
    background-color: #000;
}

.hero{
    display: flex;
    margin: 1.3rem;
    margin-bottom: 2rem;
}
.fst-txt{
    width: 55%;
    margin: 0.5rem 1rem;
    margin-left: 2rem;
}
.logo{
    width: 23%;
    margin-bottom: 2rem;
}
img{
    width: 100%;
    height: 100%;
}
.txt{
    width: 520px;
}
.fst-txt h1{
    font-size: 2rem;
    padding: 2rem 0;
}
.fst-txt p{
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
.fst-img{
    margin-top: 6rem;
    width: 480px;
    height: 640px;
}

.txt-preview{
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding: 8rem 4rem; 
    height: 20rem;
}
#i{
    width: 40%;
}
#i h1{
    font-size: 2rem;
    color: #fff;
}
#e{
    width: 60%;
}
#e h3{
    font-size: 1.4rem;
    color: #fff;
}
.sec-img{
    padding: 0 3.7rem;
    margin-top: -18rem;
}

.sec{
    margin: 2rem;
    text-align: center;
}
.cards{
    display: flex;
}
.card{
    flex-wrap: wrap;
}