*{
    font-family: "Bebas Neue", "Hind", Sans-serif;
    margin: 0;
}

/* Background image in second section */
.str{
    background-image: url('../img/muscular-shirtless-man-working-out-with-heavy-ropes.jpg');
}
.stro{
    background-image: url('../img/ketogenic-keto-or-paleo-diet-lunch-bowl-with-salted-salmon-fish.jpg');
}
.stron{
    background-image: url('../img/close-up-of-man-with-smartwatch-sleeping-in-bed.jpg');
}
.strong{
    background-image: url('../img/young-african-american-man-reading-book-while-relaxing-on-the-sofa-.jpg');
}
.strongj{
    background-image: url('../img/selfie-fitness-and-peace-with-a-black-man-on-the-beach-for-a-cardio-or-endurance-workout-during-su.jpg');
}


body{
    background-color: #fff;
}
h1{
    font-family: "Bebas Neue";
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 62px;
    letter-spacing: 1.2px;
}
h3,h2,p{
    font-family: "Hind", sans-serif;
}
hr{
    margin-top: 6rem;
    margin-bottom: 1em;
    width: 100%;
    color: RGBA(255, 255, 255, 0.15);
}
ul{
    list-style: none;
    margin-left: -70px;
}

button{
    padding: 20px 40px;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1.6px;
    font-family: "Bebas Neue";
    border: none;
    background-color: #000;
    cursor: pointer;
}

.hero{
    display: flex;
    margin: 1.3rem;
    margin-bottom: 3rem;
}
.fst-txt{
    width: 55%;
    margin: 0.5rem 1rem;
    margin-left: 2rem;
}
.logo{
    width: 23%;
    margin-bottom: 2rem;
}
img{
    width: 100%;
    height: 100%;
}
.txt{
    width: 520px;
}
.fst-txt h1{
    padding: 2rem 0;
}
.fst-txt p{
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 2rem;
}
.fst-img{
    margin-top: 5rem;
    width: 500px;
    height: 750px;
}

.fst{
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}
.txt-preview{
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding: 8rem 4rem; 
    height: 20rem;
}
#i{
    width: 50%;
}
#i h1{
    font-size: 56px;
    font-weight: 600;
    text-transform: none;
    line-height: 62px;
    letter-spacing: 1.2px;
    color: #fff;
}
#e{
    width: 50%;
}
#e h3{
    font-size: 19px;
    font-weight: 400;
    line-height: 31px;
    color: #fff;
}
.sec-img{
    padding: 0 3.7rem;
    margin-top: -18rem;
}

.sec{
    margin: 2rem;
    margin-bottom: 4rem;
}
.sec h1{
    text-align: center;
    padding-bottom: 15px;
}
.cards{
    display: flex;
    justify-content: center;
}
.card{
    position: relative;
    width: 33.333%;
    height: 450px;
    border: 1px solid #ccc;
    margin: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.co-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    background-image: linear-gradient(180deg, #02010100 0%, #131212 73%);
}
.card-txt{
    position: absolute;
    top: 43%;
    text-align: left;
    padding: 10px 40px 10px 45px;
}
.card-txt h1{
    font-size: 52px;
    font-weight: 500;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
}
.card-txt p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.large-card{
    display: flex;
    justify-content: space-around;
}
.card-strong{
    width: 50%;
    height: 400px;
    margin: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    position: relative;
}
.cards-bottom{
    margin-top: 2rem;
    text-align: center;
    padding: 0 15px;
}
.cards-bottom h2{
    font-size: 30px;
    font-family: "Bebas Neue";
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.2px;
    padding-bottom: 1.2rem;
}

.thrd{
    background-color: #000;
    margin-bottom: 2rem;
}
.thrd-sec-div{
    padding: 1.5rem 3rem;
    position: relative;
}
.overlay-dark{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 0.47;
    background-image: url('../img/bg-page-3.png');
}
.features{
    display: flex;
    padding-top: 6rem;
    position: relative;
}
.features-txt{
    width: 60%;
    padding-top: 3rem;
}
.features-txt h1, .benefits-txt h1{
    color: #fff;
    padding-right: 4rem;
}
.list{
    display: flex;
    width: 80%;
    margin-top: 2rem;
}
.listed{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
}
.list-icon{
    width: 40px;
}
.list-txt{
    margin-left: 1em;
    width: 220px;
}
.list-txt h2{
    font-size: 23px;
    font-family: "Bebas Neue";
    font-weight: 500;
    color: #fff;
}
.mobile{
    display: none;
}
.features-vid{
    width: 40%;
}
.features-vid img{
    width: 406px;
    height: 704px;
    object-fit: cover;
}
.benefits{
    margin-bottom: 3rem;
}
.benefits-txt{
    width: 50%;
    padding-left: 3rem;
    padding-top: 3rem;
}
.benefits-img{
    width: 50%;
}
.benefits-img img{
    width: 536px;
    height: 724px;
}
.benefits-list{
    width: 100%;
}

.frth{
    margin-top: 1rem;
    padding: 3rem 0;
    background-color: #E6E6E645;
}
.test-txt h1{
    text-align: center;
    padding-bottom: 2rem;
}
.carousel {
    width: 97%; 
    overflow: hidden;
 }
.slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
}
.slide {
    min-width: 50%;
    cursor: none;
}
.container {
    background-color: #000;
    padding: 1.2rem;
    text-align: center;
    color: #fff;
}
.fst-icon{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
.fst-icon i{
    font-size: 39px;
}
.textimonial-txt{
    padding: 10px 1rem;
}
.textimonial-txt h2{
    font-family: "Hind", Sans-serif;
    font-size: 19px;
    font-style: italic;
}
.ratings{
    padding: 2rem 0;
}
.ratings ul li{
    display: inline-block;
    justify-content: center;
    padding: 0 6px;
}
.ratings ul li i{
    color: #fec42d;
    display: block;
}
.profile{
    display: grid;
    justify-content: center;
    margin-top: -30px;
}
.pro-icon{
    width: 70px;
    height: 70px;
}

.fift{
    padding: 2rem 4rem;
}
.fif-txt{
    text-align: center;
}
.fif-txt h2{
    padding-top: 1rem;
    color: #1C1C1C;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.client-logo{
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
    margin-top: 1em;
}
.cl-logo{
    min-width: 20%;
}
.cl-logo img{
    width: 175px;
    margin-right: 30px;
    height: auto;
}


.subscrip{
    position: relative;
    background-color: #000;
    padding: 5rem;
}
.subs-txt{
    text-align: center;
    color: #fff;
    padding: 0 3rem;
}
.subs-txt h3{
    font-family: "Bebas Neue", Sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 2rem 0;
}
.subs-txt h2{
    font-family: "Bebas Neue", Sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding: 2rem 0;
    letter-spacing: 1.5px;
}
input{
    padding: 1rem 0;
    padding-left: 35px;
    width: 360px;
    margin: 0 5px;
    margin-bottom: 16px;
    font-family: "Hind", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
    border: 2px #fff solid;
}
.submit{
    width: 780px;
    padding: 1.165rem;
    margin-top: 5px;
    margin-bottom: 16px;
    background-color: #fff;
    color: #000;
}

footer{
    text-align: center;
    margin: 1.5rem;
}
.footer{
    display: inline;
    vertical-align: middle;
}
.footer img{
    width: 20%;
}
.foot-txt{
    display: flex;
    justify-content: center;
}
.foot-txt div{
    padding: 0.9rem;
}
.foot-txt h3{
    font-family: "Bebas Neue", Sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
}
.insta span{
    display: inline-block;
    padding-right: 0.3em;
}
.insta i{
    font-weight: 400;
}
.lst{
    color: #121111;
    font-family: "Hind", Sans-serif;
    font-size: 16px;
    font-weight: 300;
}